body{
    padding: 0;
    margin: 0;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
    padding: 20px;
}

article{
    margin: 1.5rem;
    padding: 1rem;
}

article div{
    margin: 1.3rem;
    padding: 1.3rem;
    border: 1px solid black;
    width: 250px;
}