body{
    padding: 0;
    margin: 0;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 5px;
}

article{
    margin: 1rem;
    padding: 1rem;
}

article div{
    margin: 1.3rem;
    padding: 1.3rem;
    border: 1px solid black;
}